
<div class=navigation>
    @if (User.Identity!.IsAuthenticated)
    {
        <div>
            <a href="/@(User.Identity.Name)">my timeline</a> |
            <a href="/public">public timeline</a> |
            <form asp-page="Logout" asp-route-returnUrl="@Url.Page("/public", new { area = "" })" method="post" style="display:inline;">
                <button type="submit" class="btn btn-link p-0">logout [@(User.Identity?.Name)]</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <a href="/public">public timeline</a> |
            <a class="nav-link text-dark" asp-page="/Register">sign up</a> |
            <a class="nav-link text-dark" asp-page="/Login">sign in</a>
        </div>
    }
</div>