
@if (User.Identity!.IsAuthenticated)
{
    <div class="twitbox">
        <h3>What's on your mind, @(User.Identity.Name)?</h3>
        <form action="/add_message" method="post">
            <input type="text" name="text" placeholder="message, here?" size="60">
            <input type="submit" value="Share">
        </form>
    </div>
}