@page "/public"
@model itu_minitwit.Pages.PublicModel

@{
    ViewData["Title"] = "Welcome";
    Layout = "Shared/_Layout";
}

<ul class="messages">
    @if (Model.Messages.Any())
    {
    @foreach (var message in Model.Messages)
    {
    <li>
        // Load image here
        <p>
            <strong>
                <a href="/@message.Username">@message.Username</a>
            </strong>
            @message.Text
            <small>&mdash; @message.Timestamp</small>
        </p>
    </li>
    }
    }
    else
    {
    <li><em>There's no message so far.</em></li>
    }
</ul>
