@page "/public"
@model itu_minitwit.Pages.Public

@{
    ViewData["Title"] = "Welcome";
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | MiniTwit</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>