@page "/register"
@model minitwit.web.Pages.RegisterModel
@{
ViewData["Title"] = "Sign Up";
}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="error">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form method="post">
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" asp-for="Username" size="30"></dd>

        <dt>E-Mail:</dt>
        <dd><input type="text" asp-for="Email" size="30"></dd>

        <dt>Password:</dt>
        <dd><input type="password" asp-for="Password" size="30"></dd>

        <dt>Password <small>(repeat)</small>:</dt>
        <dd><input type="password" asp-for="Password2" size="30"></dd>
    </dl>
    <div class="actions">
        <input type="submit" value="Sign Up">
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
